@media (max-width: 1399px){}
@media (max-width: 1299px){}
@media (max-width: 1199px){}
@media (max-width: 1024px){}
@media (max-width: 991px){
	.Web-Header {
	    padding: 20px 0 0;
	}
	.main-navigation {
	    display: none;
	}
	.logo-principal {}
}
@media (max-width: 767px){
	.header-row .col-header.col-header_center {
		display: none !important;
	}
	.header-row .col-header.col-header_left, 
	.header-row .col-header.col-header_right {
	    flex-grow: 0.5;
	}
	.header-logo.header-logo_desk {
		display: none !important;
	}
	.logo-principal {
		width: 65px;
	}
}
@media (max-width: 575px){	
    .Web-Header .header-sticky .logo-principal {}
}
@media (max-width: 350px){}

@media (min-width:576px){}
@media (min-width:768px){
	.header-logo.header-logo_mob {
		display: none !important;
	}
}
@media (min-width:992px){
	.main-nav-mob {
        display: none;
    }
}
@media (min-width:1025px){}
@media (min-width:1200px){}
@media (min-width:1400px){}
@media (min-width:1441px){}

@media (min-width: 992px) and (max-height: 767px) {}

@media (min-width: 1200px) and (max-height: 600px) {
	.Web-Header {}
	.Web-Header .logo-principal {}
}